@import "tailwindcss";

@theme {
    --color-primary: #BD713E;
    --color-admin-burgundy: #5F0F40;
    --color-admin-mint: #D4F4E4;
    --color-admin-sage: #A3C4BC;
    --color-admin-dark: #1e293b;

    --color-main-background: var(--color-main-background);
    --color-primary-background: var(--color-primary-background);
    --color-secondary-background: var(--color-secondary-background);
    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);

    --font-sans: "Inter", sans-serif;
}

:root {
    --color-main-background: #FFF8F3;
    --color-primary-background: #ffffff;
    --color-secondary-background: #F9FAFB;
    --color-text-primary: #000000;
    --color-text-secondary: #6B7280;
}

.dark-mode {
    --color-main-background: #14110F;
    --color-primary-background: #000000;
    --color-secondary-background: #334155;
    --color-text-primary: #ffffff;
    --color-text-secondary: #9CA3AF;
}

button{
    cursor: pointer;
}